
<div class="row">

	<div class="col-md-12">

		<h2>Well, this is embarrassing...</h2>
		
		<p>We seem to be experiencing problems fulfilling your request.</p>

		<p><a href="<%= url('/') %>">Want to start over?</a><br></p>

	</div>

</div>